---
name: Build and push

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "10 2 * * 0"

jobs:
  build-and-push:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    strategy:
      matrix:
        include:
          - context: 11
            tags: |
              ${{ github.repository }}:12
              ghcr.io/${{ github.repository }}:12
              ${{ github.repository }}:bookworm
              ghcr.io/${{ github.repository }}:bookworm
          - context: 12
            tags: |
              ${{ github.repository }}:13
              ghcr.io/${{ github.repository }}:13
              ${{ github.repository }}:trixie
              ghcr.io/${{ github.repository }}:trixie
              ${{ github.repository }}:latest
              ghcr.io/${{ github.repository }}:latest

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image.
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.context }}
          file: ./${{ matrix.context }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tags }}
